<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name='viewport' content='user-scalable=0'>
    <title>Grocery List A</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" type="image/png" href="images/yellow_scroll.png">
</head>
<body ng-app="App1">

    <div ng-controller="Ctrl1">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-md-1 col-xs-2"><a href="#" style="width:32px" class="glyphicon glyphicon-cog"></a></th>
                    <th class="col-md-4 col-xs-6">Name</th>
                    <th class="col-md-1 col-xs-2">Amount</th>
                    <th class="col-md-1">
                        <a href="#"  class="glyphicon glyphicon-plus"  ng-click="showDialog()"></a>
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr  ng-repeat="item in list | orderBy:'name' |orderBy:'checked' track by item.id ">
                    <td style="text-align: center">
                        <input type="checkbox" name="{{item.id}}" value="checked" ng-model="item.checked">
                    </td>
                    <td ng-click="item.checked=!item.checked" ng-class="{'checked':item.checked}">
                        {{item.name}}
                    </td>
                    <td ng-click="item.checked=!item.checked" ng-class="{'checked':item.checked}">
                        {{item.quantity}}
                    </td>
                    <td>
                        <a href="#" class="glyphicon glyphicon-pencil" ng-click="showDialog(item.id)"></a>
                    </td>
                </tr>
            </tbody>

        </table>
        <br/>
        <div class="modal fade" id="addItem" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add Item</h4>
                    </div>
                    <div class="modal-body">
                        <form name="enterItem" >
                            <div class="form-group" ng-class="{'has-error': !enterItem.itemName.$valid}">
                                <label for="itemName" class="sr-only">Name</label>
                                <input type="text" id="itemName" name="itemName" placeholder="Name" class="form-control" ng-model="currentItem.name" required >
                            </div>
                            <div class="form-group" ng-class="{'has-error': !enterItem.itemQuantity.$valid}">
                                <label for="itemQuantity" class="sr-only">Quantity</label>
                                <input type="number" min="0" max="999" id="itemQuantity" name="itemQuantity" placeholder="Quantity" class="form-control" ng-model="currentItem.quantity" required>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-md btn-danger " ng-click="deleteItem()" ng-show="edit">Delete</button>
                        <button type="button" class="btn btn-md btn-primary " ng-click="addItem()" data-dismiss="modal" ng-disabled="!enterItem.$valid">Add</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>